<link rel="stylesheet" href="/styles/header.css">
<link href="https://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
<header>
    <div id="logo">
        <img src="../images/ballot.png">
        <h2><span>E.</span>PEMILU</h2>
    </div>
    <div></div>
</header>