<link rel="stylesheet" href="/styles/sidebar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<aside>
    <h2>MENU</h2>
    <ul>
        <li>
            <a href="#">
                <i class="fa fa-bar-chart"></i>Insight
            </a>
        </li>
    </ul>
</aside>