<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin-buatpemilu.css">
    <title>Admin Home</title>
</head>
<body>
    <%- include('./header.ejs')  %>
    <main>
        <h2>Tambah Calon</h2>
        <form action="admintambahCalon" method="post">
            <label for="nama">Nama</label>
            <input type="text" name="nama">
            <label for="foto">Upload Foto</label>
            <input type="file" name="foto">
            <label for="nourut">Nomor Urut</label>
            <select name="nourut">
                <option value="owner">No Urut 1</option>
                <option value="buyer">No Urut 2</option>
            </select>
            <label for="pemilu">Pemilu</label>
            <select name="pemilu">
                <option value="owner">Pemilu 1</option>
                <option value="buyer">Pemilu 2</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>