<title>header</title>
<link rel="stylesheet" type="text/css" href="header.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    <div id="left">
        <h4>E<span>.</span>PEMILU</h4>
    </div>
    <div id="user">
        <span class="white"> Hi, Admin! </span>
        <a href="/logOut"> <i class="fa fa-sign-out"></i> log Out</a>
    </div>
</header>