<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Pemilu</title>
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href= "https://fonts.googleapis.com/css?family=Nunito">
</head>
<body>
    <main>
        <h1>BAJU<br><span>.</span>COM</h1>
        <div class="login shadow">
            <form action="/login" method="post">
                <p>Selamat datang!</p>
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input class="shadow" type="submit" value="Sign In">
                <p id="daftar">Belum punya akun? <a href="signup">Daftar | Ganti Password? <a href="reset"> Reset</a></p>
            </form>
        </div>
    </main>
</body>
</html>