<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin-home.css">
    <title>Pemilih Pilih Calon</title>
</head>
<body>
    <%- include('./header.ejs')  %>
    <main>
        <div id="container">
            <!--loop daftar pemilihan-->
                <form method="post" action="model">
                    <button class="button" type="submit">
                        <div class="card">
                            <p id="Calon 1"><%=table[0].nama%></p>
                            <p id="Calon 2"><%=table[1].nama%></p>
                        </div>
                    </button> 
                </form>
            </div>
        </div>
    </main>
</body>
</html>